#flex-container {display: flex;}
.proCalc#flex-container {display: none;}
#candycandy {color: brown;
            display: none;}
#chooseVer {background-color: antiquewhite;}
#chooseBoost {background-color: rgb(240, 254, 210);}
#userInput {background-color: bisque;}
#resultOutput {background-color: thistle;}
@media (min-width: 200px) and (max-width: 768px){
      body {width: auto;
      font-size: 4vw;}
      #flex-container {flex-direction: column;}
      .explain {font-size: 3vw;}
}
@media (min-width: 768px){
      body {padding-left: 5%;
            width: 632px;}
      #flex-container {flex-direction: row;}
}
.switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
    
    input:checked + .slider {
      background-color: #2196F3;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }